<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
	<link href="/stylesheets/bootstrap-responsive.min.css" rel="stylesheet">
	<link href="/stylesheets/style.css" rel="stylesheet">
	<script src="/javascripts/jquery-1.9.1.min.js" type="text/javascript"></script>
	<script src="/javascripts/bootstrap.min.js" type="text/javascript"></script>
	<script type="text/javascript">
		function getURLParameter(name) {
	    	return decodeURI(
	        	(RegExp(name + '=' + '(.+?)(&|$)').exec(location.search)||[,''])[1]
	   		);
		}
		function getCSRFToken(action) {
			$.ajax({
				url: "/getCSRFToken",
				type: "GET",
				success: function(data) {
					action(data.token);
				}
			});
		}
		$(function(){
// 			$('#inputUsername').val(getURLParameter('username'));
// 			if (getURLParameter('usernameStatus') === 'invalid' && getURLParameter('passwordStatus') === 'valid') {
// 				console.log('test');
// 				$('#inputUsernameControl').addClass('error');
// 			} else if (getURLParameter('usernameStatus') === 'valid' && getURLParameter('passwordStatus') === 'invalid') {
// 				$('#inputPasswordControl').addClass('error');
// 			} else if (getURLParameter('usernameStatus') === 'invalid' && getURLParameter('passwordStatus') === 'invalid') {
// 				$('#inputUsernameControl').addClass('error');
// 				$('#inputPasswordControl').addClass('error');
// 			}
			if (window.location.search.length === 37) {
				console.log(getURLParameter('uid'));
				$.ajax({
					url: '/validateEmail',
					type: 'GET',
					data: {uid: getURLParameter('uid')},
					success: function(data){
						console.log('success');
						console.log(data);
						if (data.length === 1) {
							$('#validatedEmailModal').modal('show');
						}
					},
					error: function(){
						console.log('error');
					}
				});
			}
			$('#closeModal').click(function(){
				$('#validatedEmailModal').modal('hide');
			});
		});
	</script>
</head>
<body>
	<div class="custom-container">
		<form class="form-horizontal" action="/login" method="POST">
  			<div class="control-group" id="inputUsernameControl">
  				<div class="controls">
					<h3>Login</h3>
					<br/>
				</div>
    			<label class="control-label" for="inputUsername">Username</label>
    			<div class="controls">
      				<input type="text" id="inputUsername" placeholder="Username" name="username">
      				<input type="hidden" name="_csrf" value="<%=token %>">
    			</div>
  			</div>
  			<div class="control-group" id="inputPasswordControl">
    			<label class="control-label" for="inputPassword">Password</label>
    			<div class="controls">
      				<input type="password" id="inputPassword" placeholder="Password" name="password">
    			</div>
  			</div>
  			<div class="control-group">
    			<div class="controls">
      				<button type="submit" class="btn" id="login-btn">Sign in</button>
    			</div>
  			</div>
		</form>
		<form class="form-horizontal" action="/register" method="GET">
  			<div class="control-group" id="inputUsernameControl">
  				<div class="controls">
					<button class="btn btn-primary" id="register-btn">Sign up</button>
				</div>
  			</div>
		</form>
	</div>
<!-- modal -->
	<div class="modal hide fade" id="validatedEmailModal">
  		<div class="modal-header">
    		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    		<h3>Email validated</h3>
  		</div>
 		<div class="modal-body">
    		<p>Your Email address has been successfully validated.</p>
  		</div>
  		<div class="modal-footer">
    		<a id="closeModal" class="btn">close</a>
  		</div>
	</div>
<!-- /modal -->
</body>
</html>