<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
	<link href="/stylesheets/bootstrap-responsive.min.css" rel="stylesheet">
	<link href="/stylesheets/style.css" rel="stylesheet">
	<script src="/javascripts/jquery-1.9.1.min.js" type="text/javascript"></script>
	<script src="/javascripts/bootstrap.min.js" type="text/javascript"></script>
	<script type="text/javascript">
		function getURLParameter(name) {
	    	return decodeURI(
	        	(RegExp(name + '=' + '(.+?)(&|$)').exec(location.search)||[,''])[1]
	   		);
		}
		$(function(){
			$('#inputUsername').val(getURLParameter('username'));
			$('#inputPassword').val(getURLParameter('password'));
			if (getURLParameter('usernameStatus') === 'invalid' && getURLParameter('passwordStatus') === 'valid') {
				console.log('test');
				$('#inputUsernameControl').addClass('error');
			} else if (getURLParameter('usernameStatus') === 'valid' && getURLParameter('passwordStatus') === 'invalid') {
				$('#inputPasswordControl').addClass('error');
			} else if (getURLParameter('usernameStatus') === 'invalid' && getURLParameter('passwordStatus') === 'invalid') {
				$('#inputUsernameControl').addClass('error');
				$('#inputPasswordControl').addClass('error');
			}
		});
	</script>
</head>
<body>
	<div id="login-container">
		<form class="form-horizontal" action="/setCookie" method="POST">
  			<div class="control-group" id="inputUsernameControl">
  				<div class="controls">
					<h3>Login</h3>
					<br/>
				</div>
    			<label class="control-label" for="inputUsername">Username</label>
    			<div class="controls">
      				<input type="text" id="inputUsername" placeholder="Username" name="username">
      				<input type="hidden" name="_csrf" value="<%=token %>">
    			</div>
  			</div>
  			<div class="control-group" id="inputPasswordControl">
    			<label class="control-label" for="inputPassword">Password</label>
    			<div class="controls">
      				<input type="password" id="inputPassword" placeholder="Password" name="password">
    			</div>
  			</div>
  			<div class="control-group">
    			<div class="controls">
      				<button type="submit" class="btn" id="login-btn">Sign in</button>
    			</div>
  			</div>
		</form>
	</div>
</body>
</html>